

@media(max-width:1000px){
    .captions{
        margin-left: 50px;
        margin-top: 10%;
    }
    .b1{
        font-size:30px ;
       
    }
    .b11{
        font-size: 20px;
       
    }

}

 





