

@media(max-width:1000px){
    .captions{
        margin-left: 3%;
        margin-top:30%;
    }
    .b1{
        font-size:1.4rcm ;
       
    }
    .b11{
        font-size: 1rcm;
       
    }

}

 





