
   
       .captions {
         margin-top: 100px;
         margin-left: 450px;
         animation: anim 2s ease-in-out 1;
       }

       @keyframes anim{
        
       
        50%{
            margin-top: 100px;
       }
       
       0%{
        margin-top: 400px;
      }
      }

      .card-body:hover{
        transition: o.5s ease;
        border: 1px solid #ccc;
        
        box-shadow: 0 4px 8px gray,0 6px 20px 0 gray;
      }
      
      .p41:hover{
        transition: o.5s ease;
border: 1px solid #ccc;

box-shadow: 0 4px 8px gray,0 6px 20px 0 gray;
      }